body {
    background-color: #333333;
    color: #ffffff;
    font-family: Bierstadt, sans-serif;
    text-align: center;
}
  
.container{
    display: grid;
    place-items: center;
    font-family: Bierstadt, sans-serif;
    height: 100dvh;
}
  
.container button {
    font-family: Bierstadt, sans-serif;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    align-items:center;
    padding: 12px 12px;
}
  
.container input {
    font-family: Bierstadt, sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 6px 12px;
    height: 30px;
}

.taskWindow {
    width: 60%;
}
  
  
.taskContainer {
    display: grid;
    grid-template-columns: max-content auto auto max-content max-content;
}
  
.taskCheckbox {
    padding: 6px 12px;
    width: 24px;
    height: 24px;
}
  
.taskItem {
    padding: 6px 12px;
    text-align: left;
}

.taskDate{
    padding: 6px 12px;
    text-align: right;
}

.addTaskSection {
    position: sticky;
    width: 50%;
    bottom: 12px;
    display: grid;
    grid-template-columns: auto;
}
  
.addTaskBtn {
    background-color: #db5a0f;
    margin-right: 10px;
    margin-left: 10px;
}
  
.delTaskBtn {
    background-color: #bf242a;
}

.editTaskBtn {
    background-color: #e98533;
}  
  
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    Font-size: 24px;
}
  
ul li {
    padding: 6px 12px;
    border-top: 1px solid rgb(255,255,255, 0.4);
}
  
ul li:last-child {
    border-bottom: 1px solid rgb(255,255,255, 0.4);
}