body {
    background-color: #333333;
    color: #ffffff;
    font-family: Bierstadt, sans-serif;
      text-align: center;
  }
  
  .container{
      display: grid;
      place-items: center;
      font-family: Bierstadt, sans-serif;
      height: 100vh;
  }
  
  .container button {
      font-family: Bierstadt, sans-serif;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 6px 12px;
  }
  
  .container input {
      font-family: Bierstadt, sans-serif;
      text-align: center;
      border: none;
      border-radius: 4px;
      font-size: 24px;
      padding: 6px;
      margin-left: 10px;
  }
  
  .taskContainer {
      display: grid;
      grid-template-columns: max-content auto max-content;
  }
  
  .taskCheckbox {
      width: 24px;
      height: 24px;
  }
  
  .taskItem {
      text-align: left;
  }
  
  .buttonList {
      text-align: center;
  }
  
  .addTaskBtn {
      background-color: #db5a0f;
      font-size: 24px;
      margin-right: 10px;
      margin-left: 10px;
  }
  
  .delTaskBtn {
      background-color: #bf242a;
      font-size: 20px;
  }
  
  ul{
        list-style-type: none;
    margin: 0;
    padding: 0;
      font-size: 24px;
  }
  
  ul li {
      padding: 10px;
      border-bottom: 1px solid #fff;
  }
  
  ul li:last-child {
      border-bottom: 0;
  }